<!--UC1-"Hello From BridgeLabz" using one way data binding-->

<div>
  <h1>
    <!--{this.userName}} Change in the userName reflected in the header Tag-->
    Hello {{this.userName}} From BridgeLabz
  </h1>

  <!--UC2-Display BridgeLabz Logo using Property Binding-->
  <img  [src]="imgUrl" (click)="onClick($event)" alt="Briglabz Logo : a Bridge to Employement through a Lab Works">
</div>
<!--UC4-Bind the input Form Element using [(ngModel)] to userName-->
<div>
  <input (input)="onInput($event)" [(ngModel)]="userName"/>

  <!--UC5-Throws the message if Input is Invalid-->
  <span class=error-output>{{this.nameError}}</span>
</div>